$color-deep-gray: #2a3140;
$color-gray: rgba(161, 163, 164, 0.27);
$color-blue: #1890ff;
$color-deep-blue: #185ebc;
$color-light-gray: #f5f5f5;
$color-title-gray: #363636;
$color-subtitle-gray: #545454;
